*{
    margin: 0px;
}

html,body {
    height: 92.5dvh;
    width: 100dvw;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px 0px 10px 0px;
    align-items: center;
}


header a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 20px 0px 0px;
}

.logo{
    margin: 0px 0px 0px -250px;
}

main{
    background:url('../img/index.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    color: white;
    justify-content: space-around;
}

main div{
    margin: 200px 0px 0px 0px;
}

main div div{
    margin: 0px;
}

.sobreIndex{
    align-items: center;
    text-align: justify;
    width: 30%;
    margin: 250px 0px 0px -150px;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    height: 45dvh;
    width: 20dvw;
    display: flex;
    flex-direction: column;
    padding: 80px 20px 0px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login h1{
    margin: 0px 0px 40px 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
}

.login input{
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
    height: 22px;
    width: 95%;
    border-bottom: 2px solid #e50914;
}


.login button{
width: 98%;
height: 40px;
padding: 3px 0px 3px 0px;
font-size: 18px;
border-radius: 5px;
color: white;
border: 0px;
background:linear-gradient(to bottom right, #e50914 60%, #a0050d);
cursor: pointer;
}

#check {
    width: 14px;
    height: 14px;
    margin: 0px;
}

#erro{
    color: #f10915;
    font-size: 20px;
    font-weight: 300;
}

.suporte {
    display: flex;
    justify-content: space-between;
}

.suporte label, .suporte a{
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.suporte a{
    text-decoration: none;
    color: gray;
}

.cadastreA{
    margin: 50px 0px 0px 0px;
}

.cadastreA p{
color: white;
}

.cadastreA a{
    color: gray;
    text-decoration: none;
}

.cadastro {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 450px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    backdrop-filter: blur(3px);
}

.cadastro hr{
    width: 70%;
    margin: 0px 0px 20px 0px;
}

.cadastro div{
    display: flex;
    flex-direction: row;
}
.cadastro div div{
    display: flex;
    flex-direction: column;
}
.cadastro input{
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
    height: 22px;
    width: 95%;
    border-bottom: 2px solid #e50914;
}

.cadastro button{
    width: 98%;
    height: 40px;
    padding: 3px 0px 3px 0px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    border: 0px;
    background:linear-gradient(to bottom right, #e50914 60%, #a0050d);
    cursor: pointer;
}

.main {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px 0px 0px 0px;
}

.main div{
    display: flex;
}

.main div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main input{
    margin: 0px 0px 0px 20px;
}

.main h1{
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

button{
    background:linear-gradient(to bottom right, #e50914 60%, #a0050d);
    padding: 5px 8px 5px 8px;
    color: white;
    border: 0px;
    margin: 5px;
    cursor: pointer;
    border-radius: 3px;
}